<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Mongo Scraping</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="app.js"></script>
		<style>
		body { background-color: #D6D0D1 }
		#wrapper {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 5%;
		}
		#articles {
		display: inline-block;
		overflow: auto;
		width: 60%;
		height: 400px;
		}
		#notes {
		float: right;
		width: 40%;
		padding-left: 5%;
		}
		.jumbotron {
		background: url('https://farm4.staticflickr.com/3058/2346677150_e870a13e15_z.jpg?zz=1');
		background-size: cover;
		height: 400px;
		width: 100%;
		color: #3E2427;
		font-size: 305px;
		}
		.jumbotron h1{
		font-size: 125px;
		font-family: 'Georgia';
		padding-top: 30px;
		margin: center;
		}
		.jumbotron h2{
		font-size: 50px;
		font-family: 'Arial';
		margin: center;
		}
		button {
		background-color: #3E2427;
		float: right;
		font-size: 16px;
		color: #F5F4F4;
		padding: 10px;
		text-align: center;
		}
		#nav {
		padding-right: 40px;
		}
		textarea, input {
		display: block;
		width: 100%;
		background-color: #9E9193;
		}
		input {
		height: 36px;
		font-size: 24px;
		}
		textarea {
		height: 200px;
		font-size: 18px;
		}
		</style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>