<div class="row">
  <div class="jumbotron">
    <h1 class="text-center">News Scraper</h1>
    <h2 class="text-center">New York Times</h2>
  </div>
</div>

<div id="nav">
  <button type="button" id="scrape">Scrape Articles</button>
</div>

<div id="wrapper">
  <div id="articles"></div>
  <div id="notes"></div>
</div>

<footer class="footer">
  <div class="container">
    <p>&copy; Dawn Mills 2017</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/javascript/index.js"></script>